body {
    background-color: #ddd;
    margin: 0;
    font-family: Arial, sans-serif;
}

.flexbox {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: -10px;
    margin-right: -10px;
    padding: 30px;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.content {
    background-color: rgb(240, 209, 73);
    border: 2px solid black;
    padding: 40px 20px;
}
